name: package-graphql-poller

on:
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch:

env:
  # APP_DIRS here
  APP_DIR_PACKAGE_GRAPHQL_POLLER: sui-package-utils
  # app specific variables
  PACKAGE_GRAPHQL_POLLER_PACKAGES_DIR_MAINNET: packages/mainnet
  PACKAGE_GRAPHQL_POLLER_MOVE_DECOMPILER_BIN: third-party/move-decompiler/move-decompiler-linux-x86_64

jobs:
  package-graphql-poller:
    runs-on: ubuntu-ghcloud
    timeout-minutes: 10 
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Run sui-packages-graphql-poller
        run: |
          echo "Running package graphql poller on mainnet" > /dev/stderr
          OLDDIR=$(pwd)
          GIT_ROOT=$(git rev-parse --show-toplevel)
          cd "$APP_DIR_PACKAGE_GRAPHQL_POLLER"
          cargo run --release --bin sui-packages-graphql-poller -- \
            --packages-dir "${GIT_ROOT}/${PACKAGE_GRAPHQL_POLLER_PACKAGES_DIR_MAINNET}" \
            --move-decompiler-path "${GIT_ROOT}/${PACKAGE_GRAPHQL_POLLER_MOVE_DECOMPILER_BIN}"
          cd "$OLDDIR"

      - name: Commit and Push Changes
        id: commit-and-push
        continue-on-error: true
        run: |
          git config --local user.name "GitHub Actions"
          git config --local user.email "actions@github.com"
          git add "$PACKAGE_GRAPHQL_POLLER_PACKAGES_DIR_MAINNET"
          git commit -m "package-graphql-poller: update package data"
          git pull --rebase --depth=5
          git push origin HEAD

      - name: Process Packages
        run: |
          curl -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer $PACKAGE_PROCESS_TOKEN" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          "$PACKAGE_PROCESS_API" \
          --data-raw '{"ref":"main","inputs":{}}'
        env:
          PACKAGE_PROCESS_TOKEN: ${{ secrets.PACKAGE_PROCESS_TOKEN }}
          PACKAGE_PROCESS_API: ${{ secrets.PACKAGE_PROCESS_API }}

